/*
colors: {
  green: {
    300: '#00B37E',
    500: '#00875F',
    700: '#015F43',
  },
  blue: {
    500: '#81D8F7',
  },
  orange: {
    500: '#FBA94C',
  },
  red: {
    500: '#F75A68',
  },
  gray: {
    100: '#E1E1E6',
    200: '#C4C4CC',
    300: '#8D8D99',
    500: '#323238',
    600: '#29292E',
    700: '#121214',
    900: '#09090A'
  }
},
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: Roboto, sans-serif;
  background: #09090a ;
  color: #e1e1e6;
  -webkit-font-smoothing: antialiased;
}
.header {
  width: 100%;
  padding: 1.25rem 0;
  
  background: #121214;
  border-bottom: 1px solid #323238 !important;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container-general {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-general {
  display: flex;
  flex: 1;
}
.video {
  flex: 1;
}
.sidebar {
  width: 348px;
  background: #121214 ;
  padding: 6px;
  border-left: 1px solid #29292e;
}
.sidebar span.cronograma {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 24px;
  border-bottom:1px solid #323238 ;
}

.sidebar .list-lessons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.frame-class{
  color: #e1e1e6; 
  text-decoration: none;
  margin: 8px 0 0; 
}
.frame-class span.one {
  color: #8d8d99;
  font-weight: normal;
  font-size: 14px;
}
.frame-class span.two, .frame-class span.two-two {
  font-size: 14px;
  font-weight: medium;
  color: #81D8F7;

  display: flex;
  justify: right;
  align-items: center;
}
.frame-class span.two-two {
  color: orange;
}
.frame-class span.three {
  color: #ffffff;
  font-size: 12px;
  font-weight:  bold;
  border: 1px solid #00B37E;
  border-radius: 4px;
  padding: 2px 8px;
}
.frame-class strong {
  color: #C4C4CC;
  font-size: 16px;
  display: block;
  margin: 10px 0;
}
.frame-class div {
  border: 1px solid  #323238;
  border-radius: 4px;
  padding: 16px;
  margin-top: 2px;
}
.frame-class div  header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
//Edição para vídeo 
.video {
  flex: 1;
}
.video .video-container-black {
  background: black;
  display: flex;
  justify-content: center;
}
.video .video-container-black  .video-content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  max-height: 68vh;
  aspect-ratio:  16/9;
}
.video-rest {
  max-width: 1100px;
  padding: 32px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video .video-rest   .title-desc {
  display: flex;
  align-items: flex-start;
  gap: 16;
}
.video .video-rest   .title-desc .text-desc  h1 {
  font-size: 24px;
  font-weight: bold;
  color: #C4C4CC;
}
.video .video-rest   .text-desc  {
  width: 70%;
  margin-top: 12px;
  color: #C4C4CC;
} 
.video .video-rest   .title-desc a {
  padding: 16px;
  font-size: 14px ;
  line-height:  20px;
  background: #00875F;
  display: flex;
  align-items: center;
  justify: center;
  border-radius: 4px;
  text-transform: uppercase;
  gap: 8;
}