/*
colors: {
  green: {
    300: '#00B37E',
    500: '#00875F',
    700: '#015F43',
  },
  blue: {
    500: '#81D8F7',
  },
  orange: {
    500: '#FBA94C',
  },
  red: {
    500: '#F75A68',
  },
  gray: {
    100: '#E1E1E6',
    200: '#C4C4CC',
    300: '#8D8D99',
    500: '#323238',
    600: '#29292E',
    700: '#121214',
    900: '#09090A'
  }
},
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: Roboto, sans-serif;
  background: #09090a ;
  color: #e1e1e6;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  padding: 1.25rem 0;
  
  background: #121214;
  border-bottom: 1px solid #323238 !important;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container-general {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-general {
  display: flex;
  flex: 1;
}
.video {
  flex: 1;
}
.sidebar {
  width: 348px;
  background: #121214 ;
  padding: 6px;
  border-left: 1px solid #29292e;
}
.sidebar span.cronograma {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 24px;
  border-bottom:1px solid #323238;
}

.sidebar .list-lessons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.frame-class{
  color: #e1e1e6; 
  text-decoration: none;
  margin: 8px 0 0; 
}
.frame-class span.one {
  color: #8d8d99;
  font-weight: normal;
  font-size: 14px;
}
.frame-class span.two, .frame-class span.two-two {
  font-size: 14px;
  font-weight: medium;
  color: #81D8F7;

  display: flex;
  justify: right;
  align-items: center;
}
.frame-class span.two-two {
  color: orange;
}
.frame-class span.three {
  color: #ffffff;
  font-size: 12px;
  font-weight:  bold;
  border: 1px solid #00B37E;
  border-radius: 4px;
  padding: 2px 8px;
}
.frame-class strong {
  color: #C4C4CC;
  font-size: 16px;
  display: block;
  margin: 10px 0;
}
.frame-class div {
  border: 1px solid  #323238;
  border-radius: 4px;
  padding: 16px;
  margin-top: 2px;
  transition: all .2s ease-in;
}
 .frame-class div:hover {
  border: 1px solid #00875F;
}
.frame-class div  header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-lesson div{
  background: #00875F;
}
.active-lesson span.three {
  color: #ffffff !important;
}
.active-lesson span.two {
  color: #ffffff !important;
}
.active-lesson span.three {
  border-color: #ffffff !important;
}
//Edição para vídeo 
.video {
  flex: 1;
}
.video .video-container-black {
  background: black;
  display: flex;
  justify-content: center;
}
.video .video-container-black  .video-content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  max-height: 68vh;
  aspect-ratio:  16/9;
}
.video-rest {
  max-width: 1100px;
  padding: 32px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.video .video-rest   .title-desc {
  display: flex;
  align-items: flex-start;
  gap: 16;
}
.video .video-rest   .title-desc h1 {
  font-size: 24px;
  font-weight: bold;
  color: #C4C4CC;
  background:;
}
.video .video-rest   .title-desc p {
  font-size: 14px;
  font-weight: normal;
  color: #C4C4CC;
  margin-top: 12px;
  line-height: 20px;
}
.video .video-rest   .text-desc  {
  width: 70%;
  margin: 12px 16px 0 0;
} 
.video .video-rest   .title-desc a {
  padding: 16px;
  font-size: 14px ;
  line-height:  20px;
  background: #00875F;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify: center;
  border-radius: 4px;
  text-transform: uppercase;
  gap: 8;
  transition: all .2s ease-in;
}
.video .video-rest   .title-desc a i {
  margin-right: 5px;
  font-size: 24px;
}
.video .video-rest   .title-desc a:hover {
  background: #015F43;
}
.video .video-rest   .title-desc a:hover {
  background: ;
}
.video .video-rest   .title-desc a.challenge-link {
  margin-top: 16px;
  color: #81D8F7;
  background: none;
  border: 1px solid  #81D8F7;
}
.video .video-rest   .title-desc a.challenge-link:hover {
  background: #81D8F7;
  color: #121214;
}
.video .video-rest   .title-desc  .video-teacher{
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
.video .video-rest   .title-desc  .video-teacher img {
  height: 64px;
  width: 64px;
  border-radius: 500%;
  border: 2px solid  #81D8F7;
}
.video .video-rest   .title-desc  .video-teacher  strong{
  font-size: 24px;
  font-weight: bold;
  display: block;
}
.video .video-rest   .title-desc  .video-teacher  span{
  font-size: 24px;
  font-weight: normal;
  display: block;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}
.video .leading-relaxed {
  line-height: 1.625;
}
.video .additional-material{
  gap: 8px;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
 }
 .video .additional-material a {
  background: #121214;
  color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align: stretch;
  gap: 24px;
  transition: all .2s ease-in;
 }
 .video .additional-material a:hover {
  backround: red;
 }
 .video .additional-material .first-additional-material {
  height: 100%;
  background: #015F43;
  padding: 12px;
  display: flex;
  align-items: center;
 }
 .video .additional-material .second-additional-material {
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  padding: 24px 0;
  line-height: 1.625;
 }
 .video .additional-material .second-additional-material strong {
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
 }
 .video .additional-material .second-additional-material p {
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  margin-top: 6px;
  color: #C4C4CC;
 }
 .video .additional-material .third-additional-material {
  height: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
 }

 .subscribe {
  min-height: 100vh;
  background: url("../assets/blur 2 2.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
 }
 .subscribe .hero-subscribe{
  width: 100%;
  max-width: 1100px;
  margin: auto ;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5rem;
 }
 .subscribe .text-side-subscribe {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
 }
 .subscribe .logo-subscribe {
  margin-left: -45px;
 }
 .subscribe .text-side-subscribe h1 {
  margin-top:  2rem;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.25;
 } 
 .subscribe .text-side-subscribe strong {
  color: #81D8F7
 }
 .subscribe .text-side-subscribe p {
  margin-top: 24px;
  color: #C4C4CC;
  line-height: 1.625;
 }
 .subscribe .form-subsccribe {
  padding: 32px;
  background: #121214;
  border: 1px solid #29292E;
  border-radius: 4px;
 }
 .subscribe .form-subsccribe strong {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  color:;
 }
 .subscribe   .form-subsccribe form{
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
 }
 .subscribe   .form-subsccribe input{
  height: 3rem;
  width: 100%;
  background: #09090A;
  color: #ffffff;
  border-radius: 4px;
  padding:  0 1.25rem;
  height: ;
  border: 1px solid transparent;
 }
 .subscribe   .form-subsccribe button  {
  width: 100%;
  color: #ffffff;
  background: #00B37E ;
  border-radius: 4px;
  border:1px solid transparent;
  padding: 1rem 0;
  margin-top: 1rem/* 16px */;
  cursor: pointer;
  transition: all .2s ease-in;
 }
 .subscribe   .form-subsccribe button:hover {
    background: #015F43;
 }
 .subscribe   .form-subsccribe button:disabled {
  opacity: 50%;
 }
 .subscribe  img { 
  width: 100%;
 }
.dev-profile {
  width: 100%;
  height: 100vh;
}
.dev-profile .container {
  display: flex;
  justify-content: space-between;
}
.dev-profile .container .left-profile {
  width: 25%;
  max-height: 87vh;
  min-height: 87vh;
  overflow: auto;
  background: #29292E;
  border-right: 1px solid #323238;
}
.dev-profile .container .left-profile .image-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border: 1px solid #323238;
}
.dev-profile .container .left-profile .image-profile span {
  font-weight: bold;
  margin-bottom: 2px;
}
.dev-profile .container .left-profile .image-profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.dev-profile .container .left-profile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.dev-profile .container .left-profile li {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.dev-profile .container .left-profile li::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height:1px;
  width: 0;
  bottom: 3px;
  background: #00B37E;
  transition: all .3s ease-in;
}
.dev-profile .container .left-profile li:hover::after{
  width: 100%;
}.dev-profile .container .left-profile li:hover > a {
  color: #00B37E;
}
.dev-profile .container .left-profile li a {
  display: flex;
  padding: 5px 0;
}

.dev-profile .container .left-profile li a span {
  font-size: 16px;
  margin-right: 8px;
}
.dev-profile a {
  font-size: 15px;
  color: #ffffff;
}
.dev-profile .container .right-profile {
  width: 80%;
  height: 87vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
} 
.dev-profile .container .right-profile .dev-desc-profile {
  min-height: 208px;
  margin-bottom: 30px;
  border-bottom: 1px solid #323238;
  padding: 15px 30px;
  box-shadow: 1px 1px 4px black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.dev-profile .container .right-profile .dev-desc-profile p {
  font-size: 15px;
  color:  #E1E1E6;
  line-height: 1.5rem;
}
.dev-profile .container .right-profile ul{
  list-style: none;
}
.dev-profile .dev-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.dev-profile .dev-contact  span {
  color: #8D8D99;
}
.dev-skills{
  padding: 0 15px;
  margin-bottom: 30px;
}
.dev-skills p {
  margin-bottom: 15px;
  color: #323238;
}
.dev-profile .dev-carroussels-skills {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.dev-profile .dev-carroussels-skills li {
  width: 150px;
  height: 200px;
  border: 1px solid #29292e;
  border-radius: 4px;
  background: linear-gradient(#121214  );
  box-shadow: 0px 0px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;

  font-size: 24px;
  font-weight: bold;
}
.dev-profile .dev-carroussels-skills li:hover {
  background: transparent;
}
.dev-profile .arrows {
  position: absolute;
  top: 40%;
  font-size: 35px;
  color: #00B37E;
  cursor: pointer;
}
.dev-profile .arrow-right {
  right: 0px;
}
.dev-profile .arrow-left {
  left: 0px;
}
